
<div class="position-relative text-center">
    <h1 class="text-center">Yad2 Copycat</h1>
    <h5 class="text-center">Post stuff for sale</h5>
</div>

<div> <!-- start of nav-->
    <nav class="navbar bg-primary-subtle">
        <form class="container-fluid">
            <div class="d-flex align-items-center">
                <a class="btn btn-outline-secondary me-2" type="button" href="/">Home</a>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="flex: 1;">
                <a class="btn btn-outline-secondary" type="submit">Search</a>
            </div>

            <a class="btn btn-outline-secondary mx-auto" type="button" href="/newAd">Post new Ad</a>

            <div class="ms-auto">
                <a class="btn btn-outline-secondary me-2" type="button" href="/login">Login</a>
                <a class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#myModal" href="#">Who am i</a>
            </div>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="MyModalHeader">Personal Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Name: Adi Yakoby <br>
                        Email: adija@edu.hac.ac.il or adi.yakoby@gmail.com<br>
                        Phone: 052-2865080
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div> <!-- end of modal-->
                </div>
            </div>
        </div>
    </nav>
</div> <!-- end of nav-->