<div class="position-relative text-center bg-dark py-3">
    <h1 class="text-light fw-bold">Yad2 Copycat</h1>
    <h5 class="text-light">Post stuff for sale</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="btn btn-outline-primary me-2" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="d-flex mx-auto my-2 my-lg-0">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input" style="flex: 1;">
                <a class="btn btn-outline-primary" type="submit" id="search" name="search" >Search</a>
            </div>

            <a class="btn btn-outline-primary mx-2" type="button" href="/newAd">Post new Ad</a>

            <% if (loggedIn === true) { %>
                <a class="btn btn-primary me-2" type="button" href="/users/admin">Admin Page</a>
                <a class="btn btn-outline-primary me-2" type="button" href="/logout">Logout</a>
            <% } else { %>
                <a class="btn btn-outline-primary me-2" type="button" href="/login">Login</a>
            <% } %>

            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Who am i</button>
        </div>

    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="myModalLabel">Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> Adi Yakoby</p>
                <p><strong>Email:</strong> adija@edu.hac.ac.il or adi.yakoby@gmail.com</p>
                <p><strong>Phone:</strong> 052-2865080</p>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


