<%- include('partials/header') %>
<!-- rest of the page -->
<body>
<%- include('partials/navigator') %> <!-- Nav bar -->


<h1> THIS IS THE ADMIN PAGE </h1>



<!-- end of the page -->
<%- include('partials/footer') %>